
$light-color: #F2F2F2;
$primary-color: #0C3F6A;
$secondary-color: #96C7C1;
$tertiary-color: #FFF9B6;
$quaternary-color: #F6DBE5;
$quinary-color: #8AB6D6;



.primary-color {
    background-color:$primary-color;
  }
  
  .secondary-color {
    background-color:$secondary-color;
  }
  
  .tertiary-color {
    background-color:$tertiary-color;
  }
  
  .quaternary-color {
    background-color:$quaternary-color;
  }
  
  .quinary-color {
    background-color:$quinary-color;
  }