@media only screen and (max-width: 600px) {
  
    .wrapper {
      padding-left: 30px;
    }
  
    .one, .three, .five, .seven, .nine {
      width: 80vw;
  
      img {
        width: 80vw;
      }
  
      h1 {
        width: 80vw;
        font-size: 35px;
      }
    }
    .two, .four, .six, .eight, .ten {
      width: 80vw;
  
      img {
        width: 80vw;
      }
  
      h1 {
        width: 80vw;
        font-size: 35px;
      }
    }

    .container1 {

        .boks1 {
            font-size: 50px;
        }
        .boks2 {
            flex-direction: column;

            #hvid {
                width: 100vw;
            }
            #gul {
                width: 100vw;
                padding-left: 120px;
            }
        }

        .boks5 {
            height: 350px;
            #billede5 {
                display: none;
            }
            #tekst5 {
                width: 100vw;
                
                p {
                    margin-left: 0px;
                    padding-left: 120px;
                    width: 100vw;
                    margin-top: 70px;
                }
               
            }
        }

        .boks6 {
            flex-direction: column;
            

            #tekst6 {
                height: auto;
                gap: 0px;

                h2 {
                    padding-left: 120px;
                    
                }

                p {
                    width: 100vw;
                    padding-left: 120px;
                    padding-bottom: 30px;
                }
            }
            #boks61 {
                width: 100vw;

                

                #billede6 {
                    width: 100vw;
                }
                #gulboks {
                    width: 100vw;
                    height: auto;
                    padding-bottom: 30px;

                    h2, p {
                        padding-left: 120px;
                    }
                }
            }
        }

        .boks7 {
            #billede7 {
                height: 300px;
            }
            h2, p {
                padding-right: 30px;
                padding-left: 120px;
            }
        }

        .boks8 {
            p {
                padding-right: 30px;
                padding-left: 120px;
            }
        }

        .boks9 {
            flex-direction: column;

            #hvid {
                width: 100vw;
                height: auto;
            }
            #gul {
                width: 100vw;
                height: auto;
                padding-bottom: 100px;

                h2, h3, p {
                    padding-left: 120px;
                }
            }
        }
    }

    .container2 {

        .boks1 {
            font-size: 50px;
            height: 250px;
        }
        .boks2 {
            height: 300px;
        }

        .boks3 {
            p {
                padding-right: 30px;
                padding-left: 120px;
            }
        }
        .boks4 {
            #billede4 {
                margin-left: 120px;
                width: 70vw;
            }

            p, h2 {
                padding-right: 30px;
                padding-left: 120px;
            }
            #booking {
                justify-content: flex-start;
               #knap {
                   margin-left: 120px;
               }
                
            }
        }

    .boks5 {
        #grøn1 {
            flex-direction: column;
            #tekst {
                width: 100vw;
                h2, p {
                    padding-left: 120px;
                }
            }
            #billede5 {
                width: 70vw;
                margin-left: 120px;
            }
        }
        #grøn2 {
            p {
                padding-right: 30px;
                padding-left: 120px;
            }
        }
    }
    .boks6 {
        height: 300px;
    }
    .boks8 {
        #grøn1 {
            width: 100vw;
            h2, #tekst8, p {
                padding-right: 30px;
                padding-left: 120px;
            }
            #billede8 {
                margin-left: 120px;
            }
        }

    }
    .boks9 {
        #billede9 {
            height: 300px;
        }
        #hvid {
            #hvid2 {
                h2, p {
                    padding-right: 30px;
                }
            }

        }
    }
    .boks11 {
        #hvid {
            p {
                padding-right: 30px;
            }
        }
    }
    }

    .container3 {
        .boks1 {
            font-size: 50px;
            height: 250px;
        }
        .boks3 {
            p, h2 {
                padding-right: 30px;
                padding-left: 120px;
            }
        }
        .boks4 {
            #billede4 {
                height: 300px;
            }
            #tekst {
                flex-direction: column;
                #pink {
                    width: 100vw;
                    h2, p {
                        padding-left: 120px;
                    }
                }
                #hvid {
                    width: 100vw;
                    margin-top: -40px;
                }
            }     
        }
        .boks5 {
            flex-direction: column;
            margin-top: 50px;
            #tekst1 {
                width: 100vw;
                p, h2 {
                    padding-left: 120px;
                }
            }
            #tekst2 {
                width: 100vw;
                h2, p {
                    padding-left: 120px;
                }
                h2 {
                    padding-top: 30px;
                }
                #knap {
                    margin-left: 120px;
                }
            }
        }
        .boks6 {
            height: 300px;
        }
        .boks7 {
            h2, p {
                padding-left: 120px;
                padding-right: 30px;
            }
        }
        .boks9 {
            #tekst {
                flex-direction: column;
                #pink {
                    width: 100vw;
                    h2, p {
                        padding-left: 120px;    
                    }
                    #billede9 {
                        margin-left: 120px;
                        margin-bottom: 30px;
                    }
                }
                #hvid {
                    width: 100vw;
                    h2, p {
                        padding-left: 120px;
                        padding-right: 30px;
                    }
                    #knap {
                        margin-left: 120px;
                    }
                }
            }
        }
        .boks10 {
            height: 300px;
        }
        .boks11 {
            h2, h3, p {
                padding-right: 30px;
                padding-left: 120px;
            }
        }
        .boks12 {
            flex-direction: column;

            #pink {
                width: 100vw;
            }
            #billede12 {
                width: 100vw;
                height: 400px;
            }
        }
    }

    .container4 {
        .boks1 {
            font-size: 50px;
            height: 250px;
        }
        .boks3 {
            height: 300px;
        }
        .boks4 {
            #tekst {
            h2, p {
                padding-left: 120px;
            }
        }
            #blå {
                
                flex-direction: column;
                #skulptur {
                width: 100vw;
               #billede {
                   margin-left: 120px;
                   margin-top: 30px;
                   width: 70vw;
               }
               h2, h3, p {
                padding-left: 120px;
                padding-right: 30px;
            }
            #knap {
                margin-left: 120px;
                margin-right: 30px;
            }

                }
                #kubeflex {
                    width: 100vw;
                    
                    #billede {
                        margin-left: 120px;
                        margin-right: 30px;
                        width: 70vw;
                    }
                    h2, h3, p {
                        padding-left: 120px;
                        padding-right: 30px;
                    }
                    #knap {
                        margin-left: 120px;
                        margin-right: 30px;
                    }
                }
            }
        }
        .boks5 {
            flex-direction: column;
            #tekst {
            h2, p {
                padding-left: 120px;
            }
        
            #hvid {
                flex-direction: column;

                #dinudstilling {
                width: 100vw;
               #billede {
                   margin-left: 120px;
                   margin-top: 30px;
                   width: 70vw;
               }
               h2, h3, p {
                padding-left: 120px;
                padding-right: 30px;
            }
            #knap {
                margin-left: 120px;
                margin-right: 30px;
            }

                }
                #richardm {
                    width: 100vw;
                   
                    
                    #billede {
                        margin-left: 120px;
                        margin-right: 30px;
                        width: 70vw;
                    }
                    h2, h3, p {
                        padding-left: 120px;
                        padding-right: 30px;
                    }
                    #knap {
                        margin-left: 120px;
                        margin-right: 30px;
                    }
                }
            }
        }
        .boks6 {
            h2, p {
                padding-right: 30px;
                padding-left: 120px;
            }
        }
        .boks7 {
            #vernerpanton {
                height: 300px;
            }
        }
        .boks8 {
            #hvid {
                h2, h3, p {
                    padding-right: 30px;
                }
                #billede8 {
                    height: 300px;
                }
            }
        }
        .boks9 {
            flex-direction: column;

            #tekst {
                width: 100vw;
                h2, p {
                    padding-left: 120px;
                }
                #knap {
                    margin-left: 120px;
                }
            }
            #stol1 {
                width: 100vw;
                margin-left: 120px;
            }
        }
        .boks10 {
            height: 300px;
        }
        .boks11 {
            h2, h3, p {
                padding-left: 120px;
                padding-right: 30px;
            }
        }
        .boks12 {
            #tekst {
                p {
                    padding-left: 120px;
                    padding-right: 30px;
                }
            }
            #boks {
                #hvid {
                    width: 100vw;
                    height: 300px;
                }
                #blå {
                    display: none;
                }
            }
        }
        .boks13 {
            h2, h3, p {
                padding-left: 120px;
                padding-right: 30px;
            }
            #video {
                padding-left: 120px;
            }
        }
        .boks14 {
            height: 300px;
        }
        .boks15 {
            #blå {
                flex-direction: column;
                #erik {
                    width: 100vw;
                    #billede {
                        width: 70vw;
                        margin-left: 120px;
                    }
                    h2, h3, p {
                        padding-left: 120px;
                    }
                }
                #collect {
                    width: 100vw;
                }
            }
            #blå1 {
                #touch {
                    width: 100vw;
                }
            }
        }
        .boks16 {
            height: 300px;
        }
        .boks17 {
            #blå {
                width: 20vw;
            }
            #hvid {
                width: 80vw;
                h2, p {
                    padding-right: 30px;
                }
                #billede17 {
                    width: 100vw;
                    height: 300px;
                }
            }

        }
    }
}
}