
@import 'colors'; 
@import 'typography';
@import 'slider';


 
* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

.frontpage {
  width: 100vw;
  height: 100vh;
  background-color: $light-color;

}

#main {
    transition: 0.7s;
    
}

.menubar {
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9999;
  font-family: $font-stack;
  
  
  .logo {
    height: 100px;
    width: 100px;
    padding: 20px 0px 0px 20px;

    img {
      transition: transform .7s ease-in-out;
    }
    img:hover {
      transform: rotate(360deg);
    }
  }

  .menubar2 {
    height: 140px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    gap: 20px; 
    font-family: $font-stack;

    
    a {
      color: $primary-color;
      font-family: $font-stack;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $primary-color;
      }
    }
  }
}

// besøg os - css //

.container1 {
  width: 100vw;
  height: auto;
  background-color: $light-color;
 display: flex;
 flex-wrap: wrap;

  .boks1 {
    width: 100vw;
    height: 300px;
    background-color: $tertiary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-stack;
    font-size: 80px;
    color: $primary-color;
  
    h2 {
     margin-bottom: -50px;
     margin-top: 100px;
    }
  }
  .boks2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #hvid {
      width: 50vw;
      height: 100vh;
      background-color: $light-color;
    }

    #gul {
      width: 50vw;
      height: 100vh;
      background-color: $tertiary-color;
    }
    #gang {
      background-image: url(/images/gang.JPG);
      background-repeat: no-repeat;
      background-size: contain;
      width: 400px;
      height: 600px;
      margin: 0px;
      position: absolute;
      background-position: center center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .åbningstider {
      width: auto;
      height: auto;
      margin: 150px 20px 400px 300px;
      color: $primary-color;
      display: flex;
      flex-direction: column;
      gap: 15px;
      

      h2 {
        font-family: $font-stack;
        font-size: 40px;
      }
      p {
        font-family: $font-stack1;
        font-size: 20px;
        
      }
    }
  }
  
  .boks3 {
    width: 100vw;
    height: 400px;
    background-color: $tertiary-color;
    

    #priser {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 75px;
    margin-left: 150px;

    h2 {
      font-family: $font-stack;
      font-size: 40px;
    }
    p {
      font-family: $font-stack1;
      
      
    }
   } 
  }
  .boks4 {
    width: 100vw;
    height: 100vh;
    background-image: url(/images/bænk.JPG);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .boks5 {
    width: 100vw;
    height: 450px;
    background-color: $tertiary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #billede5 {
      width: 50vw;
      height: 50vh;
      display: flex;
      
      align-items: center;
      margin-left: 160px;

      #dreng {
        background-image: url(/images/dreng.jpeg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 400px;
        height: 267px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    #tekst5 {
      width: 50vw;
      height: 50vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        width: 40vw;
        height: 50vh;
        font-family: $font-stack1;
        color: $primary-color;
        margin-top: 110px;
        margin-left: -50px;
      }
    }
  }

  .boks6 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    #tekst6 {
      width: 100vw;
      height: 100vh;
      font-family: $font-stack1;
      color: $primary-color;
      display: flex;
      gap: 15px;
      flex-direction: column;

      h2 {
        font-family: $font-stack;
        font-size: 40px;
        padding-top: 40px;
        padding-left: 160px;
      }

      p {
        width: 30vw;
        padding-left: 160px;
        
      }
    }

    #boks61 {
      width: 50vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      

      #billede6 {
      height: 63.16vh;
      width: 50vw;
      background-image: url(/images/familie.jpeg);
      background-repeat: no-repeat;
      background-size: contain;
     
      }
  
      #gulboks {
        width: 50vw;
        height: 40vh;
        background-color: $tertiary-color;
        font-family: $font-stack1;
        color: $primary-color;
        gap: 15px;
        flex-direction: column;
  
        h2 {
          font-family: $font-stack;
          padding-top: 30px;
          padding-left: 20px;
        }
        p {
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 15px;
        }
      }
    }
  }

  .boks7 {
    width: 100vw;
    height: 850px;
    background-color: $tertiary-color;
    color: $primary-color;
    display: flex;
    gap: 15px;
    flex-direction: column;


    #billede7 {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/images/skole.JPG);
    width: 100vw;
    height: 100vh;
    
    
    }

    h2 {
    font-family: $font-stack;
    padding-left: 160px;
    padding-top: 30px;
    font-size: 40px;
    margin-top: -120px;

    }
    
    p {
    font-family: $font-stack1;
    padding-left: 160px;
    padding-bottom: 30px;
    padding-right: 160px;
    }
  }

  .boks8 {
    width: 100vw;
    height: 400px;
    background-color: $light-color;
    color: $primary-color;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
    font-family: $font-stack1;
    padding-left: 160px;
    padding-top: 30px;
    padding-right: 160px;
    }

    #bookingskoler {
      background-color: $primary-color;
      width: 300px;
      height: 50px;;
      margin-top: 20px;
      text-decoration: none;
      font-family: $font-stack;
      color: $light-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
    }
  }

  .boks9 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;


    #hvid {
      width: 60vw;
      height: 100vh;
      background-color: $light-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #gul {
      width: 40vw;
      height: 100vh;
      background-color: $tertiary-color;
      color: $primary-color;
      display: flex;
      flex-direction: column;

      h2 {
        font-family: $font-stack;
       padding: 30px 100px 100px 30px;
       font-size: 40px;
      }

      h3 {
        font-family: $font-stack;
        padding-left: 30px;
      }

      p {
        font-family: $font-stack1;
        padding-left: 30px;
      }
    }
  }
}





/* Aktiviteter - side */

.container2 {
  width: 100vw;
  height: auto;
  background-color: $light-color;
 display: flex;
 flex-wrap: nowrap;
 flex-direction: column;

 .boks1 {
  width: 100vw;
  height: 300px;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-stack;
  font-size: 80px;
  color: $primary-color;

  h2 {
   margin-bottom: -50px;
   margin-top: 100px;
  }
 }

  .boks2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;

  #hvid {
  width: 50vw;
  height: 100vh;

  video {
    position: absolute;
  }

  }
  #grøn {
    width: 50vw;
    height: 100vh;
    background-color: $secondary-color;
  }
 }
 .boks3 {
  width: 100vw;
  height: 250px;
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  

    h2 {
      font-family: $font-stack;
    }

    p {
      font-family: $font-stack1;
      padding-left: 160px;
      padding-right: 160px;
      
    }
 }

 .boks4 {
  width: 100vw;
  height: 1000px;
  

  #billede4 {
    background-image: url(/images/høretelefoner.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 281px;
    margin-left: 160px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  h2 {
    font-family: $font-stack;
    font-size: 40px;
    padding-left: 160px;
    padding-top: 30px;
  }

  p {
    font-family: $font-stack1;
    padding-left: 160px;
    padding-top: 15px;
    padding-right: 160px;
  }

  #booking {
    display: flex;
    justify-content: center;
    align-items: center;
  #knap {
    background-color: $primary-color;
      width: 300px;
      height: 50px;;
      margin-top: 30px;
      text-decoration: none;
      font-family: $font-stack;
      color: $light-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      margin-bottom: 50px;
   }
  }
 }

 .boks5 {
  width: 100vw;
  height: 500px;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;

  #grøn1 {
    width: 100vw;
    height: 275px;
    display: flex;
    flex-direction: row;

    #tekst {
    width: 50vw;
    height: 275px;

    h2 {
      font-family: $font-stack;
      padding-top: 30px;
    }
    p {
      font-family: $font-stack1;
      padding-top: 15px;
    }
    }
    #billede5 {
      width: 50vw;
      height: 275px;
      background-image: url(/images/feel.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 500px;
      height: 278px;
      margin-left: 700px;
      margin-top: 70px;
      position: absolute;
    }
  }

  #grøn2 {
  width: 100vw;
  height: 100px;

  p {
    font-family: $font-stack1;
    padding-right: 160px;
   padding-bottom: 30px;
    
  }
  }
 }

 .boks6{
  width: 100vw;
  height: 563px;
  background-image: url(/images/interaktiv.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  
  #grøn {
  width: 30vw;
  height: 100vh;
  background-color: $secondary-color;
  }

  #hvid {
  width:70vw;
  height: 100vh;
  background-color: $light-color;
  }
 }

 .boks8 {
  width: 100vw;
  height: 600px;
  background-color: $secondary-color;
  color: $primary-color;
  position: relative;
  display: flex;
  flex-direction: row;

  #billede8 {
    background-image: url(/images/dinudstilling.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 233px;
    width: 350px;
    margin-left: 800px;
    margin-top: 120px;
    position: absolute;
  }

  #grøn {
    width: 20vw;
    height: 100vh;
  }

  #grøn1 {
    width: 80vw;
    height: 100vh;


  h2 {
    font-size: 40px;
    font-family: $font-stack;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 160px;
    padding-bottom: 10px;
  }
  #tekst8 {
    padding-left: 30px;
    padding-right: 550px;
    padding-top: 15px;
    padding-bottom: 100px;
    font-family: $font-stack1;
  }
  p {
    padding-left: 30px;
    padding-right: 160px;
    padding-top: 15px;
    font-family: $font-stack1;
  }
  }
 }

 .boks9 {
  width: 10vw;
  height: 105vh;
  color: $primary-color;

  #grøn {
  background-color: $secondary-color;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;

  #billede9 {
    background-image: url(/images/aktivitet.jpeg);
    height: 50vh;
    width: 70vw;
  }

  #tekst9 {
    height: 50vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font-stack1;

    h2 {
      font-size: 20px;
      font-family: $font-stack1;
      padding-left: 8px;
    }
  }
  }
  #hvid {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row;

  #hvid1 {
    width: 20vw;
    height: 100vh;
  }
  #hvid2 {
    width: 80vw;
    height: 100vh;
  }
  h2 {
    font-family: $font-stack;
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 160px;
  }
  p {
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 160px;
    padding-bottom: 30px;
    font-family: $font-stack1;
   }
  }
 }

 .boks10 {
  width: 100vw;
  height: 275px;
  background-color: $secondary-color;
  color: $primary-color;
  font-family: $font-stack1;
  display: flex;
  flex-direction: row;

  #grøn {
    width: 20vw;
    height: 100vh;
  }
  #grøn1 {
    width: 80vw;
    height: 100vh;
    
  h2 {
    padding-left: 30px;
    padding-top: 30px;
    font-family: $font-stack;
  }
  p {
    padding-left: 30px;
    padding-top: 15px;
    font-family: $font-stack1;
  }
  }
 }

 .boks11 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  #grøn {
  width: 20vw;
  height: 100vh;
  background-color: $secondary-color;
  }

  #hvid {
  width:80vw;
  height: 100vh;
  background-color: $light-color;
  color: $primary-color;

  h2 {
    font-family: $font-stack;
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
  }
  p {
    font-family: $font-stack1;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 160px;
  }
  } 
 }

 .boks12 {
  width: 100vw;
  height: 600px;
  
  #billede12 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/interview.jpg);
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: row;
    
    #tekst1 {
    width: 20vw;
    height: 600px;
    }
    #tekst2 {
    width: 80vw;
    height: 200px;
    padding-top: 150px;
    color: $primary-color;
    font-family: $font-stack1;
    
    h2 {
    color: $primary-color;
    font-family: $font-stack1;
    padding-left: 30px;
    font-size: 20px;
    }
    p {
    padding-left: 30px;
    }
    }
  }
 }
}







/* Info - siden */

.container3 {
 width: 100vw;
 height: auto;
 background-color: $light-color;
 display: flex;
 flex-wrap: nowrap;
 flex-direction: column;

 .boks1 {
  width: 100vw;
  height: 300px;
  background-color: $quaternary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-stack;
  font-size: 80px;
  color: $primary-color;

  h2 {
   margin-bottom: -50px;
   margin-top: 100px;
  }
 }

  .boks2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;

  #hvid {
  width: 30vw;
  height: 100vh;

  video {
    position: absolute;
  }
  }
  #pink {
    width: 70vw;
    height: 100vh;
    background-color: $quaternary-color;

    h2 {
      color: $primary-color;
      font-family: $font-stack;
      font-size: 40px;
      padding: 500px 160px 30px 30px;
      }
  }
 }
 .boks3 {
  width: 100vw;
  height: 470px;
  background-color: $quaternary-color;
  color: $primary-color;

    p {
      font-family: $font-stack1;
      padding-left: 160px;
      padding-right: 160px;
      padding-top: 30px;
      
    }
 }

 .boks4 {
  width: 100vw;
  height: 900px;
  display: flex;
  flex-direction: column;

  #billede4 {
  width: 100vw;
  height: 600px;
  background-image: url(/images/art4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  
  }

  #tekst {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: row;

  #pink {
  width: 50vw;
  height: 300px;
  background-color: $quaternary-color;
  color: $primary-color;
  
  h2 {
  font-family: $font-stack;
  padding-left: 160px;
  padding-top: 30px;
  font-size: 40px;
  }
  p {
    font-family: $font-stack1;
    padding-left: 160px;
    padding-top: 15px;
    padding-right: 30px;
  }
  }
  #hvid {
  width: 50vw;
  height: 300px;

  #gulcirkel {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $tertiary-color;
    position:relative ;
    margin-top: 100px;
    margin-left: 200px;
    animation-name: gulcirkel;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    
  }
  @keyframes gulcirkel {
    0%   {left:0px; top:0px;} 
    50%  {left:50px; top:50px;}
    100% {left:0px; top:100px;}
  }

  #grøncirkel {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $secondary-color;
    position:relative ;
    margin-top: -90px;
    margin-left: 300px;
    animation-name: grøncirkel;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    animation-timing-function: linear;
  }
  @keyframes grøncirkel {
    0%   {left:0px; top:0px;} 
    50%  {left:50px; top:50px;}
    100% {left:0px; top:80px;}
  }
   
    #billede7 {
      width: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: -120px;
      margin-left: 160px;
     animation-name: logo;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-direction:alternate;
     animation-timing-function: linear;
     position: relative;
   }
   @keyframes logo {
     0%   {left:0px; top:0px;} 
     50%  {left:20px; top:20px;}
     100% {left:40px; top:40px;}
    }
   }
  }
 }
 .boks5 {
  width: 100vw;
  height: 450px;
  display: flex;
  flex-direction: row;

  #tekst1 {
  width: 50vw;
  height: 450px;
  background-color: $quaternary-color;

  h2 {
    font-family: $font-stack1;
    font-size: 20px;
    padding-left: 160px;
    padding-top: 30px;
  }

  p {
    font-family: $font-stack1;
    padding-left: 160px;
    padding-top: 15px;
    padding-right: 30px;
  }
 }
 #tekst2 {
  width: 50vw;
  height: 450px;

  h2 {
    font-family: $font-stack1;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 125px;
  }

  p {
    font-family: $font-stack1;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 160px;
 }
    #knap {
    background-color: $primary-color;
    width: 300px;
    height: 50px;;
    margin-top: 30px;
    text-decoration: none;
    font-family: $font-stack;
    color: $light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 50px; 
    margin-left:50px ;
   }
  }
 }
 .boks6{
  width: 100vw;
  height: 563px;
  background-image: url(/images/cafe.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
 }

 .boks7 {
  width: 100vw;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h2 {
    font-family: $font-stack;
    font-size: 40px;
    padding-top: 30px;
  }
  p {
    font-family: $font-stack1;
    padding: 15px 160px 30px 160px;
  }
 }

 .boks8 {
  width: 100vw;
  height: 700px;
  color: $primary-color;
  display: flex;
  flex-direction: row;

  #hvid {
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    #billede8 {
      background-image: url(/images/menu.jpeg);
      background-repeat: no-repeat;
      background-size: contain;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      height: 700px;
      width: 495px;
      margin-bottom: 100px;
    
    }
   }
  }

 .boks9 {
  width: 100vw;
  height: 900px;
  color: $primary-color;

  #tekst {
  width: 100vw;
  height: 900px;
  color: $primary-color;
  display: flex;
  flex-direction: row;
  
  #pink {
  background-color: $quaternary-color;
  width: 50vw;
  height: 900px;

  h2 {
    font-family: $font-stack1;
    font-size: 20px;
    padding-left: 160px;
    padding-top: 30px;
    padding-right: 30px;
  }
  p {
    padding-left: 160px;
    padding-top: 15px;
    padding-right: 30px;
    font-family: $font-stack1;
   }
   #billede9 {
    background-image: url(/images/Refood.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 144px;
    width: 400px;
    margin-left: 160px;
    margin-top: 50px;
   }
  }
}
  #hvid {
  width: 50vw;
  height: 900px;
  
  h2 {
    font-family: $font-stack1;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 160px;
  }
  p {
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 160px;
    padding-bottom: 30px;
    font-family: $font-stack1;
   }
   #knap {
    background-color: $primary-color;
    width: 300px;
    height: 50px;;
    margin-top: 15px;
    text-decoration: none;
    font-family: $font-stack;
    color: $light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 15px; 
    margin-left:50px ;
   }
  }
 }

 .boks10 {
  width: 100vw;
  height: 600px;
  background-image: url(/images/designbutik.png);
  background-repeat: no-repeat;
  background-size: contain;
 }

 .boks11 {
  width: 100vw;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  


  h2 {
    font-family: $font-stack;
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
  }
  h3 {
    font-family: $font-stack1;
    font-size: 20px;
    color: $primary-color;
    padding-top: 50px;
  }
  p {
    font-family: $font-stack1;
   padding-left: 160px;
    padding-top: 20px;
    padding-right: 160px;
  }
  #knap {
    background-color: $primary-color;
    width: 300px;
    height: 50px;;
    margin-top: 30px;
    text-decoration: none;
    font-family: $font-stack;
    color: $light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 15px; 
    margin-left:50px ;
   }
 }

 .boks12 {
  width: 100vw;
  height: 600px;
  background-color: $quaternary-color;
  
  #billede12 {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/images/butik.JPG);
    width: 900px;
    height: 600px;
    margin-left: auto;
    }
  }
}
