
@import 'colours'; 
@import 'typography';
 
* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

.frontpage {
  width: 100vw;
  height: 100vh;
  background-color: $light-color;
}

#main {
    transition: 0.7s;
}

.menubar {
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: space-between;
  
  .logo {
    height: 100px;
    width: 100px;
    padding: 20px 0px 0px 20px;

    img {
      transition: transform .7s ease-in-out;
    }
    img:hover {
      transform: rotate(360deg);
    }
  }

  .menubar2 {
    height: 140px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    gap: 20px; 
    
    a {
      color: $primary-color;
      font-family: $font-stack;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $primary-color;
      }
    }
  }
}


.greenBackground {
  background-color: $secondary-color;

}

.pinkBackground {
  background-color: $quaternary-color;
}

.yellowBackground {
background-color: $tertiary-color;
}

.blueBackground {
background-color: $quinary-color;
}

.slide {
    width: 35vw;
    height: 60vh;

    img {
      width: 35vw;
      height: 60vh;
      object-fit:cover;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400vw;
    height:78vh;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    padding-left: 200px;
    padding-right: 200px;
    gap: 10px;
    margin-right: -200px;
    
  }
  .one {
    opacity: 0.5;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
    }
    h1 {
      position: relative;
      color: $light-color;
      font-family: $font-stack;
      font-size: 50px;
      opacity: 0;
      transition: 0.1s;
      width: 35vw;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }
    img {
      position: absolute;
    }
  }
  .two {
    background: #a3f3d3;
    width: 25vw;
    height: 75vh;
    opacity: 0.5;
    transition: 1s;

    h1 {
      position: relative;
      color: $light-color;
      font-family: $font-stack;
      font-size: 50px;
      opacity: 0;
      transition: 0.1s;
      width: 25vw;
      height: 75vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 1;
    }

    img {
      width: 25vw;
    height: 75vh;
    position: absolute;
    }
  }
  
  .three {
    opacity: 0.5;
    transition: 1s;


    h1 {
      position: relative;
      color: $light-color;
      font-family: $font-stack;
      font-size: 50px;
      opacity: 0;
      transition: 0.1s;
      width: 35vw;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 1;
    }
    img {
      position: absolute;
    }
  }
  .four {
    background: #00dfdf;
    width: 25vw;
    height: 75vh;
    opacity: 0.5;
    transition: 1s;

    h1 {
      position: relative;
      color: $light-color;
      font-family: $font-stack;
      font-size: 50px;
      opacity: 0;
      transition: 0.1s;
      width: 25vw;
      height: 75vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 1;
    }

    img {
      width: 25vw;
    height: 75vh;
    position: absolute;
    }
  }
  .five {
    background: #efdefe;
    opacity: 0.5;
    transition: 1s;

    h1 {
      position: relative;
      color: $light-color;
      font-family: $font-stack;
      font-size: 50px;
      opacity: 0;
      transition: 0.1s;
      width: 35vw;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 1;
    }
    img {
      position: absolute;
    }
  }
  .six {
    background: #a3f3d3;
    width: 25vw;
    height: 75vh;
    opacity: 0.5;
    transition: 1s;

    h1 {
      position: relative;
      color: $light-color;
      font-family: $font-stack;
      font-size: 50px;
      opacity: 0;
      transition: 0.1s;
      width: 25vw;
      height: 75vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 1;
    }

    img {
      width: 25vw;
    height: 75vh;
    position: absolute;
    }
  }
  .seven {
    background: #0bbaa0;
    opacity: 0.5;
    transition: 1s;

    h1 {
      position: relative;
      color: $light-color;
      font-family: $font-stack;
      font-size: 50px;
      opacity: 0;
      transition: 0.1s;
      width: 35vw;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 1;
    }
    img {
      position: absolute;
    }
  }
  .eight {
    background: #00dfdf;
    width: 25vw;
    height: 75vh;
    opacity: 0.5;
    transition: 1s;

    h1 {
      position: relative;
      color: $light-color;
      font-family: $font-stack;
      font-size: 50px;
      opacity: 0;
      transition: 0.1s;
      width: 25vw;
      height: 75vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 1;
    }

    img {
      width: 25vw;
    height: 75vh;
    position: absolute;
    }
  }
  
  .nine {
    background: #efdefe;
    opacity: 0.5;
    transition: 1s;

    h1 {
      position: relative;
      color: $light-color;
      font-family: $font-stack;
      font-size: 50px;
      opacity: 0;
      transition: 0.1s;
      width: 35vw;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 1;
    }
    img {
      position: absolute;
    }
  }
  .ten {
    background: #a3f3d3;
    width: 25vw;
    height: 75vh;
    opacity: 0.5;
    transition: 1s;

    h1 {
      position: relative;
      color: $light-color;
      font-family: $font-stack;
      font-size: 50px;
      opacity: 0;
      transition: 0.1s;
      width: 25vw;
      height: 75vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 1;
    }

    img {
      width: 25vw;
    height: 75vh;
    position: absolute;
    }
  }

  
  
    .outer-wrapper {
      width: 100vh;
      height: 100vw;
      transform: rotate(-90deg) translateX(-100vh);
      transform-origin: top left;
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      scrollbar-width: none;
          -ms-overflow-style: none;
     display: flex;
     
   
      
    }
        ::-webkit-scrollbar {
          display:none;
        }



// css tricks - guide //

